<h1>Contacts</h1>

<!-- Build a view that list the contact list and navigate to
detail page -->
<div *ngFor="let contact of randomContactList; let i-index"class="blueTable">
    <div class="contact">
        <table  class="blueTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Info</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{contact.name.first}}</td>
                    <td>{{contact.name.last}}</td>
                    <td>{{contact.email}}</td>
                    <td> <a routerLink="/contacts/{{contact.id.name}}" [state]="{data: contact, filter:filterGender}">Detail</a></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <button (click)="backToHome(contact)">Select as a friend</button>
                    </td>
                </tr>
            </tfoot>     
        </table>
        <br>
    </div>
</div>
<br>
<br>
<br>

