<!-- Format a login form using angular material  -->
<mat-card>
    <!-- Card Header -->
  <mat-card-header>
    <mat-card-title>
      <h4>Login</h4>
    </mat-card-title>
    <mat-card-subtitle>Log to your account</mat-card-subtitle>
  </mat-card-header>
  <!-- Card Content / login form -->
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error *ngIf="email?.errors?.['required'] && email?.touched">
          Email is required
        </mat-error>
        <mat-error *ngIf="email?.errors?.['email'] && email?.touched">
            Invalid Email
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
        <input
        matInput
        formControlName="password"
        type="password"
        />
        <mat-error *ngIf="password?.errors?.['required'] && email?.touched">
          Password is required
        </mat-error>
      </mat-form-field>
      <!-- unable if the form is invalid -->
      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
        Login
      </button>
    </form>
  </mat-card-content>
